*{
  margin: 0;
  padding: 0;
  cursor:none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}


video{
  position: absolute;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
.video_mini {
    width: 915px;
    animation-name: example;
    animation-duration: 4s;
}
/* Standard syntax */
@keyframes example {
  from {width: 1280px; height: 720px}
  to {width: 915px; height: 300px}
}

.imagen_lateral{
  /*width:400px;*/
  animation-name: lateral;
  animation-duration: 4s;
}
@keyframes lateral {
  from{width:0px;}
  to{width:400px;}
}

.imagen_inferior{
  /*height:224px;*/
  animation-name: inferior;
  animation-duration: 4s;

}
@keyframes inferior {
  from{height:0px;}
  to{height:224px;}
}

.imagen_lateral_change {
  width:0px;
  animation-name: lateral_hide;
  animation-duration: 4s;
  display:block!important;
}

@keyframes lateral_hide {
  from{width:400px;}
  to{width:0px;}
}

.imagen_inferior_change{
  bottom: -1000px !important;
  animation-name: inferior_hide;
  animation-duration: 4s;

}
@keyframes inferior_hide {
  from{height:224px;}
  to{height:0px;}
}

.video_full {
    width: 915px;
    animation-name: example_full;
    animation-duration: 4s;
}
/* Standard syntax */
@keyframes example_full {
  from {width: 915px;  height: 300px}
  to {width: 1280px;  height: 720px}
}

.video_initial{
  width:1280px;
}

.inferior_initial{
  width: : 0px;
}

.lateral_initial{
  width: 0px;
}

.ngdialog-content{
  width: 70% !important;
  height: 500px;
  background-color: transparent !important;
}

.ngdialog{
  padding-top: 10% !important;
}
#modal-winbox .modal-title li, #modal-winbox .modal-title li * { cursor:pointer; } #modal-winbox .modal-body { height:60vh; padding:0px 30px; }
.estado [class^=col-xs-] { margin-bottom:10px; } .estado hr { margin:15px 0px; } .estado .progress { margin-bottom:0px; position:relative; }
.estado .progress-bar span { position:absolute; width:100%; display:block; color:black; }
.logs pre:before { display:none; } .logs pre:after { content:''; } .logs pre { height:40vh; max-height:40vh; font-size:11px; overflow-x:hidden; width:95%; margin-left: 20px; margin-top:5px;}


.nav-tabs > li{
  color: black !important;
  font-weight: bold !important;
}

@font-face { font-family:HelveticaNeue; src:url(fonts/HelveticaNeue.otf); }
@font-face { font-family:HelveticaNeue; src:url(fonts/HelveticaNeue-Bold.otf); font-weight:bold; }
@font-face { font-family:UbuntuMono; src:url(fonts/UbuntuMono.ttf); }

/** GENERAL STYLES **/
* { font-family:HelveticaNeue; cursor:default; }
html, body, body>#player, body>#player-mask, #channel-background {
	width:100vw; height:100vh; margin:0px; padding:0px; border:none; position:absolute; top:0px; right:0px; bottom:0px; left:0px; overflow:hidden;
}
/*body { background:url(../pictures/background.jpg) no-repeat center center fixed; background-size:cover; }*/
#player, #player-mask { background:transparent; }
#channel-logo { height:120px; position:absolute; float: left;right: 20px; top: 20px; } #channel-logo img { height:120px; }
#client-logo { height:120px; position:absolute; left: 20px; top: 20px; display:table; } #client-logo img { height:120px; }
#channel-logo span, #client-logo span {
	display:table-cell; vertical-align:middle; font-size:35px; font-weight:bold; color:white; text-shadow:0px 0px 15px black;
}

/** MODAL STYLES **/
.modal { text-align:center; padding:0px !important; }
.modal-dialog { display:inline-block; vertical-align:middle; }
.modal:before { content:''; display:inline-block; height:100%; vertical-align:middle; margin-right:-5px; }
.modal-content, .modal-header, .modal-body, .modal-footer { border:none; }
.modal-header { padding:15px; } .modal-body { padding:0px 15px; } .modal-header, .modal-body { text-align:left; }
.modal-footer { padding:15px; text-align:center; }

/** ACTIVATION MODAL STYLES **/
#modal-activation .modal-header, #modal-activation .modal-body { text-align:center; } #modal-activation .modal-body { padding:0px 50px; }
#modal-activation .modal-header, #modal-activation .modal-footer { padding:30px 15px; } #modal-activation .modal-title { color:#f60; }
#modal-activation label { margin-bottom:10px; } #modal-activation .modal-footer button { width:150px; color:white; background:#228bbe; }
#modal-activation .modal-footer button, #modal-activation .modal-footer button * { cursor:pointer; }
#modal-activation label { color:#228bbe; } #modal-activation .modal-footer button:hover { background:#175b7c; }
#modal-license, #modal-server { margin-top:20px; } #modal-activation [class^=col-] { padding:0px 7.5px; }
#modal-license input { font-family:UbuntuMono; text-transform:uppercase; cursor:text; }
#modal-server .dropdown-menu a { padding:5px 15px; cursor:pointer; }
#modal-server .dropdown-toggle { text-align:left; } #modal-server .caret { float:right; position:relative; top:-12px; }
#modal-server .dropdown-menu { width:calc(100% - 15px); min-width:auto; margin-left:7.5px; padding-left:0px; }

/** WINBOX LOGO **/
#logo { width:60px; height:60px; background:white; position:absolute; right:0px; bottom:0px; }

/** WINBOX MENU **/
#menu-area { width:40px; height:40px; position:absolute; top:0px; left:0px; z-index:10; } #menu-area * { cursor:pointer; } #menu {
	width:75px; height:35px; color:#888; background:#ccc; border-radius:10px 10px 0px 0px; display:table;
	position:relative; left:0px; transform:rotate(90deg); transform-origin:0% 0%; z-index:10;
}
#menu b { display:table-cell; vertical-align:middle; } #modal-winbox .modal-header button { padding:10px; } #modal-winbox .nav-tabs { border:none; }
#modal-winbox .nav-tabs>li>a { padding:10px; color:#555 !important; border:1px solid transparent; border-bottom:2px solid transparent; background:none; }
#modal-winbox .nav-tabs>li>a:hover { border-bottom:2px solid #ddd; } #modal-winbox .nav-tabs>li>a:focus { outline:none; }
#modal-winbox .nav-tabs>li.active>a { border-bottom:2px solid #555; }
.progress-bar{font-size: 10px !important; color:black !important;}
/** lATERAL AND BOTTOM WIDGET **/
#lateral { height:100vh; position:absolute; top:0px; left:100vw; }
#bottom { position:absolute; bottom:0px; left:0px; background:black; background-repeat:no-repeat; background-position:center; background-size:cover; }

/** WEATHER AND FORECAST WIDGET **/
#weather { width:100px; height:60px; background:white; position:absolute; right:60px; bottom:0px; display:none; }
#weather img { width:45px; height:35px; margin:10px; position:absolute; top:0px; left:0px; }
#weather b { font-size:18px; line-height:20px; display:table-cell; vertical-align:middle; padding-left:50px; }
#forecast { background:rgba(255,255,255,0.75); position:absolute; left:100vw; border-radius: 15px 0px 0px 15px; width:144px; height:450px; left:1160px; top:135px;}
#forecast .item { padding:2.5px; position:absolute; left:0px; } #forecast img { width:55%; opacity:0.75;}
#forecast b { font-size:1.2em; line-height:15px; opacity:1; } #forecast b[class^=text-] { font-size: 1.2em; line-height: 15px; }
.first-weather{margin-top: 15px;} .second-weather{margin-top: 160px;} .third-weather{margin-top: 300px;}
/** RSS WIDGET **/
#rss {
	width:calc(100vw - 210px); height:60px; padding:0px 15px; background:white;
	position:absolute; left:150px; bottom:0px; overflow:hidden; display:none;
}
#rss [id^=rss], #rss [id^=news] { font-size:30px; line-height:60px; font-weight:bold; position:absolute; z-index:5; }
#rss #top-mask { width:100%; height:7.5px; background:white; position:absolute; top:0px; left:0px; z-index:10; }
#rss #bottom-mask { width:100%; height:7.5px; background:white; position:absolute; bottom:0px; left:0px; z-index:10; }
#rss #left-border { width:1px; height:40px; background:#888; position:absolute; top:10px; left:0px; }
#rss #right-border { width:1px; height:40px; background:#888; position:absolute; top:10px; right:0px; }
#rss .news-title { text-transform:uppercase; }

/** STATUS WIDGET **/
#status { width:150px; height:60px; background:white; position:absolute; left:0px; bottom:0px; }
#status-light { width:5px; height:55px; position:absolute; left:2.5px; bottom:2.5px; }
#status-datetime { width:100%; height:60px; padding:5px 10px; display:table; text-align:center; font-weight:bold;margin-left:10px;} #status-datetime b { display:table-cell; vertical-align:middle; }
#status-date { font-size:20px; line-height:20px; } #status-time { font-size:27.5px; line-height:27.5px; }

#status-light.inactive {
	border:1px solid #444; background:linear-gradient(to bottom, #ccc 0%, #888 50%, #ccc 100%); box-shadow: 0px 0px 5px 0px #444;
}
#status-light.undefined {
	border:1px solid #840; background:linear-gradient(to bottom, #fc4 0%, #c80 50%, #fc4 100%); box-shadow: 0px 0px 5px 0px #840;
}
#status-light.updating {
	border:1px solid #008; background:linear-gradient(to bottom, #44c 0%, #00a 50%, #44c 100%); box-shadow: 0px 0px 5px 0px #008;
}
#status-light.disconnected {
	border:1px solid #800; background:linear-gradient(to bottom, #f44 0%, #c00 50%, #f44 100%); box-shadow: 0px 0px 5px 0px #800;
}
#status-light.connected {
	border:1px solid #080; background:linear-gradient(to bottom, #4c4 0%, #0a0 50%, #4c4 100%); box-shadow: 0px 0px 5px 0px #080;
}

#MESSAGES{padding-left:5px; padding-right: 5px; text-align:center; vertical-align:middle;color: white; font-size: 3.5em;background-color: black; height: 150px; line-height: 100px; width: 100%; position: absolute; z-index: 999;}
.msg-img{width:80px; height: 80px; float: left; margin-top: 32px;}

.status_no_rss{border-radius: 0px 10px 0px 0px !important; background:rgba(255,255,255,0.75) !important}
.logo_no_rss{background: transparent !important;}
.weather_no_rss{background: transparent !important;}

.status_rss{border-radius: 0px 0px 0px 0px !important;}
.logo_rss{background: white !important;}
.weather_rss{background: white !important;}
#rss2, #MESSAGES, #lateral, #bottom,#channel-background,#channel-logo,#client-logo,#logo,#forecast,#weather,#rss,#status{-moz-user-select:none !important;}
#rss2{
width: 1280px;
height: 60px;
background-color : white;
display: block;
position: absolute;
bottom: 60px;
padding-left: 30px;
overflow:hidden;
}
#rss2 [id^=rss], #rss [id^=news] { font-size:30px; line-height:60px; font-weight:bold; position:absolute; z-index:5; }
#rss2 #top-mask { width:100%; height:7.5px; background:white; position:absolute; top:0px; left:0px; z-index:10; }
#rss2 #bottom-mask { width:100%; height:7.5px; background:white; position:absolute; bottom:0px; left:0px; z-index:10; }
#rss2 #left-border { width:1px; height:40px; background:#888; position:absolute; top:10px; left:0px; }
#rss2 #right-border { width:1px; height:40px; background:#888; position:absolute; top:10px; right:0px; }
#rss2 .news-title { text-transform:uppercase; }
.marquee {
  width: 97%;
  overflow: hidden;
}

.HIDE_MESSAGE {
    opacity: 0 !important;
    animation-name: message;
    animation-duration: 4s;
}
/* Standard syntax */
@keyframes message {
  from {opacity: 1;}
  to {opacity: 0;}
}

.SHOW_MESSAGE {
    opacity: 1 !important;
    animation-name: message_show;
    animation-duration: 4s;
}
/* Standard syntax */
@keyframes message_show {
  from {opacity: 0;}
  to {opacity: 1;}
}

#imagen_lateral_div{
  float:right;
}

#imagen_lateral{
  height:720px;
}

#imagen_inferior_div{
  float:left;
}

#imagen_inferior{
  position:absolute; bottom:0;
}

#barra_inferior{
  width:100%; height:63px; background:white; position:absolute; bottom:0;
}

#barra_inferior_time{
  width:12%; height:62px; background:white;  bottom:0; float:left;
}

#barra_inferior_rss{
  padding-left:8px; padding-right:8px; width:73%; height:58px; background:white;  bottom:0; float:left; margin-top:5px;
}

#barra_inferior_rss marquee{
  height:50px; font-size:2.5em; line-height:60px; font-weight:bold; padding-left: 15px; padding-right: 15px;
}

#barra_inferior_wch{
  width:14%; height:62px; background:white;  bottom:0; float:left;
}

.forecast_hide {
    opacity: 0 !important;
    animation-name: forecast;
    animation-duration: 4s;
}
/* Standard syntax */
@keyframes forecast {
  from {opacity: 1;}
  to {opacity: 0;}
}

.forecast_show {
    opacity: 1 !important;
    animation-name: forecast_show;
    animation-duration: 4s;
}
/* Standard syntax */
@keyframes forecast_show {
  from {opacity: 0;}
  to {opacity: 1;}
}

.logo_solo{
  float: right !important;
}

.time_opacity{
  border-radius: 30px;
  height: 60px !important;
  opacity: 0.8;
  margin-left: 0.2%;
}
.time_opacity #status-light{
  bottom: 23px;
  border-radius: 50px;
  left: 0.7%;
  width: 14px !important;
  height: 14px !important;
}

.rss_transparent{
  background-color: transparent !important;
  border:0 !important;
}

.center_date{
  line-height:55.5px !important;
}

.barra_rss_no_weather{
  width: 82% !important;
}

.barra_logo_no_weather{
  width: 4% !important;
}
@media only screen and (max-width: 1900px) {
  .center_time{
    line-height:10.5px !important;
    font-size: 2em !important
  }
  .date_css{
    font-size:1.2em;
    line-height:23px;
  }
  .time_css{
    font-size:1.6em;
    line-height:27.5px;
  }
  .weather_bottom{
    font-size: 2.0em;
  }
  .weather_icon{
    width:90% !important;
  }
}
@media only screen and (min-width: 1920px) {
  .center_time{
    line-height:10.5px !important;
    font-size: 2.5em !important
  }
  .date_css{
    font-size:1.7em;
    line-height:23px;
  }
  .time_css{
    font-size:2.1em;
    line-height:27.5px;
  }
  .weather_bottom{
    font-size: 2.5em;
  }
  .weather_icon{
    width:65% !important;
  }
}
