<div ng-keydown='doSomething($event)' ng-keyup='doSomethingUp($event)' class="" tabindex="1" style="cursor:none !important;">
  <div ng-if="1==1">

    <div ng-if="typePlayer=='videoText'" style="height:{{videoHeight}};width:{{videoWidth}}; z-index:-999; position:absolute;background-color:black;" ng-class="{'video_mini':showClass==1 && overlay==false, 'video_full': showClass==0 && overlay==false,'video_initial':showClass==2}">
      <video  ng-error="test()" id="video_player" ng-ended="test()" autoplay ng-src="{{video}}" style="width:50%;top:20%;" >
      </video>
      <div style="text-align:center; width:50%; background-color:black;float: right;height: 50%;margin-top:11%;padding-top: 10%;">
        <i ng-bind-html="videoTexto" style="font-style:normal;"></i>
      </div>

    </div>

    <div ng-if="typePlayer=='imageText'" style="height:{{videoHeight}};width:{{videoWidth}}; z-index:-999; position:absolute;background-color:black;" ng-class="{'video_mini':showClass==1 && overlay==false, 'video_full': showClass==0 && overlay==false,'video_initial':showClass==2}">
      <img ng-src="{{video}}" style="width:50%;margin-top:13%;" >
      <div style="text-align:center; width:50%; background-color:black;float: right;height: 50%;margin-top:13%;padding-top: 10%;">
        <i ng-bind-html="imageTexto" style="font-style:normal;"></i>
      </div>
    </div>

    <div ng-if="typePlayer=='onlyText'" style="height:{{videoHeight}};width:{{videoWidth}}; z-index:-999; position:absolute;background-color:black;" ng-class="{'video_mini':showClass==1 && overlay==false, 'video_full': showClass==0 && overlay==false,'video_initial':showClass==2}">
      <div style="text-align:center; width:100%; background-color:black;float: right;height: 50%;margin-top:3%;padding-top: 10%;">
        <i ng-bind-html="textJustText" style="font-style:normal;"></i>
      </div>
    </div>

    <iframe  ng-if="typePlayer=='streaming'" ng-src="{{video}}" style="height:{{videoHeight}};width:{{videoWidth}}; z-index:-999; position:absolute;" ng-class="{'video_mini':showClass==1 && overlay==false, 'video_full': showClass==0 && overlay==false,'video_initial':showClass==2}"></iframe>

    <img ng-if="typePlayer=='image'"  ng-src="{{video}}" style="height:{{videoHeight}};width:{{videoWidth}}; z-index:-999; position:absolute;" ng-class="{'video_mini':showClass==1 && overlay==false, 'video_full': showClass==0 && overlay==false,'video_initial':showClass==2}">

    <video  ng-error="test()" ng-if="typePlayer=='video'" id="video_player"  ng-ended="test()" autoplay ng-src="{{video}}" style="height:{{videoHeight}}; width:{{videoWidth}}" ng-class="{'video_mini':showClass==1 && overlay==false, 'video_full': showClass==0 && overlay==false,'video_initial':showClass==2}">
    </video>

    <video  ng-error="test()" ng-if="typePlayer=='video_demand'" id="video_player"  ng-ended="test()" autoplay ng-src="{{video}}" style="width:{{videoWidth}}" ng-class="{'video_mini':showClass==1 && overlay==false, 'video_full': showClass==0 && overlay==false,'video_initial':showClass==2}">
    </video>
  </div>

  <div id="MESSAGES" ng-show="message_local" style="background-color:{{message_color}} !important;"><img  class='msg-img' src='pictures/info.png'>{{mensajeEmergente}}</div>

  <img id="channel-background" ng-src="{{background_channel}}" style="cursor: none !important;">

  <div id="channel-logo" class="text-right">
		<img ng-show="logo_channel_image"  ng-src="{{logo_channel}}"><span ng-show="!logo_channel_image" >{{logo_channel}}</span>
	</div>

	<div id="client-logo" class="text-left">
		<img  ng-show="client_logo_image"  ng-src="{{client_logo}}"><span ng-show="!client_logo_image">{{client_logo}}</span>
	</div>

  <div ng-if="showLateral" id="imagen_lateral_div" class="testt" ng-class="{'imagen_lateral':showClass==1, 'imagen_lateral_change': showClass==0,'lateral_initial':showClass==2}">
    <img id="imagen_lateral" ng-src="{{imagenLateral}}" style="width:{{lateralwidth}}; height:{{lateralheight}};">
  </div>

  <div ng-show="weatherActivated_logo == true && weatherActivated == true" id="forecast" style="opacity:{{forecastOpacity}}; left:{{forecastLeft}}px !important; top:{{forecasTop}}px !important;" ng-class="{'forecast_show':showforecast==1, 'forecast_hide': showforecast==0}">
    <div class="item text-center first-weather">
      <b class="day">{{weatherFirstDate}}</b><br>
      <img ng-src="pictures/weather/{{weatherFirstImg}}.gif" style="max-height: 77px !important;"><br>
      <b class="text-primaryy">{{weatherFirstTemp}}</b>
    </div>
    <div class="item text-center second-weather">
      <b class="day">{{weatherSecondDate}}</b><br>
      <img ng-src="pictures/weather/{{weatherSecondImg}}.gif" style="max-height: 77px !important;"><br>
      <b class="text-primaryy">{{weatherSecondTemp}}</b>
    </div>
    <div class="item text-center third-weather">
      <b class="day">{{weatherThirdDate}}</b><br>
      <img ng-src="pictures/weather/{{weatherThirdImg}}.gif" style="max-height: 77px !important;"><br>
      <b class="text-primaryy">{{weatherThirdTemp}}</b>
    </div>
  </div>

  <div ng-if="showInferior" id="imagen_inferior_div">
    <img id="imagen_inferior" ng-src="{{imagenInferior}}" style="width:{{inferiorwidth}}; height:{{inferiorheight}};" ng-class="{'imagen_inferior':showClass==1, 'imagen_inferior_change': showClass==0,'inferior_initial':showClass==2}">
  </div>
  <div id="barra_inferior_rss" class="marquee ver" style="background-color:#{{rss2_fondo}}; color:#{{rss2_letra}}; height:63px; width:100%; position:absolute; padding-left: 15px; padding-right: 15px;bottom:63px;" ng-class="{'rss_transparent':rss2 == '' || rss == ''}">
    <marquee scrolldelay="1" ng-if="dirNews != '' && dirnewsdirection=='left' && newsPropias == true" direction="{{dirNews}}" scrollamount="5" ng-bind-html="rss2"  ng-class="{'rss_transparent':rss2 == ''}">

    </marquee>
    <marquee scrolldelay="1" ng-if="dirNews != '' && dirnewsdirection=='up' && newsPropias == true" direction="{{dirNews}}" scrollamount="{{speed}}" ng-bind-html="rss2" ng-class="{'rss_transparent':rss2 == ''}">

    </marquee>

    <marquee scrolldelay="1" ng-if="dirNews != '' && dirnewsdirection=='left' && newsPropias == false" direction="{{dirNews}}" scrollamount="5" ng-bind-html="rss2" ng-class="{'rss_transparent':rss2 == ''}">

    </marquee>
    <marquee scrolldelay="1" ng-if="dirNews != '' && dirnewsdirection=='up' && newsPropias == false" direction="{{dirNews}}" scrollamount="{{speed}}" ng-bind-html="rss2" ng-class="{'rss_transparent':rss2 == ''}">

    </marquee>
  </div>
  <div id="barra_inferior" style=" background-color:#{{color_fondo}}; color:#{{color_letra}}" ng-class="{'rss_transparent':rss == ''}">

    <div id="barra_inferior_time" style=" background-color:#{{color_fondo}}; color:#{{color_letra}}" ng-class="{'time_opacity':rss == '','rss_transparent':dateFormat == '' && timeFormat == '' && rss == ''}">
      <div id="status-light" class="{{internetConection}}"></div>
  		<div id="status-datetime" class="text-center">
        <span ng-show="dateFormat != ''" class="date_css" ng-class="{'center_date':timeFormat == ''}">
          {{exampleDate| amTimezone:timezone | amDateFormat:dateFormat | uppercase}}
        </span>
        <br>
        <span ng-show="timeFormat != ''" class="time_css" ng-class="{'center_time':dateFormat == ''}">
          {{exampleDate| amTimezone:timezone | amDateFormat:timeFormat | uppercase}}
        </span>
      </div>
    </div>

    <div id="barra_inferior_rss" class="marquee ver" style=" background-color:#{{color_fondo}}; color:#{{color_letra}}" ng-class="{'rss_transparent':rss == '','barra_rss_no_weather':weatherActivated == false && weatherActivated_logo == false}">
      <div style="background-color:#{{color_fondo}}; border-left: 0.5px solid #9e9c9c;    border-right: 0.5px solid #9e9c9c; padding-left: 15px; padding-right: 15px;" ng-class="{'rss_transparent':rss == ''}">

        <marquee scrolldelay="1" ng-if="dirNews != '' && dirnewsdirection=='left' && newsPropias == true" direction="{{dirNews}}" scrollamount="{{speed}}" ng-bind-html="rss"  ng-class="{'rss_transparent':rss == ''}">

        </marquee>
        <marquee scrolldelay="1" ng-if="dirNews != '' && dirnewsdirection=='up' && newsPropias == true" direction="{{dirNews}}" scrollamount="{{speed}}" ng-bind-html="rss" ng-class="{'rss_transparent':rss == ''}">

        </marquee>

        <marquee scrolldelay="1" ng-if="dirNews != '' && dirnewsdirection=='left' && newsPropias == false" direction="{{dirNews}}" scrollamount="{{speed}}" ng-bind-html="rss" ng-class="{'rss_transparent':rss == ''}">

        </marquee>
        <marquee scrolldelay="1" ng-if="dirNews != '' && dirnewsdirection=='up' && newsPropias == false" direction="{{dirNews}}" scrollamount="{{speed}}" ng-bind-html="rss" ng-class="{'rss_transparent':rss == ''}">

        </marquee>

      </div>
    </div>

    <div id="barra_inferior_wch" style="background-color:#{{color_fondo}}; color:#{{color_letra}} " ng-class="{'rss_transparent':rss == '','barra_logo_no_weather':weatherActivated == false && weatherActivated_logo == false}">

      <div ng-if="weatherActivated || weatherActivated_logo" style="width:35%; float:left; text-align:center;">
        <img ng-src="./pictures/weather/{{weatherActualImg}}.gif" class="weather_icon" style=" padding-top:5px;">
      </div>

      <div ng-if="weatherActivated || weatherActivated_logo" class="weather_bottom" style="width:30%; float:left; line-height:60px; font-weight:bold;">
        {{weatherActualTemp}}
      </div>

      <div style="width:35%; float:left;"  ng-class="{'logo_solo':weatherActivated == false}">
        <img ng-show="logoWinchannel == 'S'" src="./pictures/logo.png" style="float: right;">
      </div>

    </div>

  </div>

</div>
