<style media="screen">

  .ngdialog-content{
    padding:0px !important;
  }

  .modal-dialog{
    margin:0px !important;
    width:100%;
  }

  .modal-content{
    height:500px;
  }

  .buttonSystem{
    margin:50px 25px;
  }

</style>
<div  id="modal-activation">
	<div class="modal-dialog">
		<div class="modal-content">
      <img ng-show="gif_loading" src="./pictures/Cube.gif" style="position:absolute; left:40%; top:20%;">
			<div class="modal-header">
				<h3 class="modal-title"><b>System Menu</b></h3>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
          <div class="row">
            <div class="col-md-5 buttonSystem">
              <button class="btn btn-default" ng-click="command(1)" type="button" name="button">Reboot Winbox</button>
            </div>
            <div class="col-md-5 buttonSystem">
              <button class="btn btn-default" ng-click="command(3)" type="button" name="button">Remove License</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 buttonSystem">
              <button class="btn btn-default" ng-click="command(2)" type="button" name="button">Delete Media</button>
            </div>
            <div class="col-md-5 buttonSystem">
              <button class="btn btn-default" ng-click="command(4)" type="button" name="button">Force Upgrade</button>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>
