<style>
  .ngdialog-content{
    padding:0px !important;
  }

  .modal-dialog{
    margin: 0 !important;
  }

  .modal-content{
    height:400px;
  }

  .ngdialog-content{
    width:50% !important;
    height:400px !important;
  }

  .modal-footer{
    text-align:center;
  }

  .modal-footer, .modal-header{
    border: 0 !important;
  }

  #modal-activation{
    text-align:center;
  }
</style>
<div class="" ng-controller="initiateCtrl" ng-init="init()" style="background:url(./pictures/background.jpg) no-repeat center center fixed; background-size:cover; width:100vw; height:100vh;">

</div>
