<style >
  .ngdialog-content{
    width: 70% !important;
    height: 500px;
    background-color: white !important;
  }
</style>
<ul class="nav nav-tabs">
  <li ng-class="{'active':hometab}" style="cursor:pointer;"><a data-toggle="tab" ng-click="tab('home')">State</a></li>
  <li ng-class="{'active':menutab1}" style="cursor:pointer;"><a data-toggle="tab" ng-click="tab('menu1')">Logs</a></li>
  <li ng-class="{'active':menutab2}" style="cursor:pointer;"><a data-toggle="tab" ng-click="tab('menu2')">Videos</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade estado" ng-class="{'in active':hometab}">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12"><b><u>System information</u></b></div>
        </div>
        <div class="row">
          <div class="col-xs-3"><b>Hard disc:</b></div>
          <div class="col-xs-9">
            <div class="progress" id="hdd">
              <div class="progress-bar progress-bar-striped {{diskClass}}" role="progress-bar" aria-valuenow="{{diskUsedPer}}" aria-valuemin="0" aria-valuemax="100" style="width:{{diskUsedPer}}%;">{{diskFreeAmount}} GB / {{diskTotalAmount}} GB</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3"><b>RAM:</b></div>
          <div class="col-xs-9">
            <div class="progress" id="ram">
              <div class="progress-bar progress-bar-striped {{ramClass}}" role="progress-bar" aria-valuenow="{{ramUsedPer}}" aria-valuemin="0" aria-valuemax="100" style="width:{{ramUsedPer}}%;">{{ramFreeAmount}} GB / {{ramTotalAmount}} GB</div>
            </div>
          </div>
        </div><hr>
        <div class="row">
          <div class="col-xs-12"><b><u>Network information</u></b></div>
        </div>
        <div class="row">
          <div class="col-xs-4"><b>State:</b>&nbsp;<span class="label {{internetClass}}" id="network">{{internetState}}</span></div>
          <div class="col-xs-4"><b>IP:</b>&nbsp;<span id="ip">&nbsp;{{ipAddress}}</span></div>
          <div class="col-xs-4"><b>MAC:</b>&nbsp;<span id="mac">&nbsp;{{macAdress}}</span></div>
        </div><hr>
        <div class="row">
          <div class="col-xs-12"><b><u>Customer information</u></b></div>
        </div>
        <div class="row">
          <div class="col-xs-3"><b>Version:</b></div>
          <div class="col-xs-9" id="version">&nbsp;{{version}}</div>
        </div>
        <div class="row">
          <div class="col-xs-3"><b>License:</b></div>
          <div class="col-xs-9" id="license">&nbsp;{{license}}</div>
        </div>
        <div class="row">
          <div class="col-xs-3"><b>Server:</b></div>
          <div class="col-xs-9" id="server">&nbsp;{{host}}</div>
        </div>
      </div>
  </div>
  <div id="menu1" class="tab-pane fade logs" ng-class="{'in active':menutab1}">
    <pre class="row " logs  id="logs"></pre>
  </div>
  <div id="menu2" class="tab-pane fade" ng-class="{'in active':menutab2}">

      <div class="" style="height:400px; overflow:auto;">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>File</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="video in biblioteca_videos">
              <td>{{video.file}}</td>
              <td><button ng-click="play_video_demand(video.file)" type="button" class="btn btn-info btn-lg" name="button"><span style="cursor:pointer;" class="glyphicon glyphicon-play"></span></button></td>
            </tr>
          </tbody>
        </table>

      </div>

  </div>
</div>
