<div  id="modal-activation">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title"><b>WINBOX ACTIVATION</b></h3>
			</div>
			<div class="modal-body">
				<span>Deactivate winbox</span><br>
				<span>MAC Address: {{macAdress}}</span>
				<div id="modal-license">
					<label>License key</label>
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2 animated">
							<input type="text" ng-model="license" class="form-control text-center" placeholder="XXXX - XXXX - XXXX - XXXX - XXXX - XX" maxlength="27">
						</div>
					</div>
				</div>
				<div id="modal-server">
					<label>Server</label>
					<div class="row">
						<div class="col-xs-4">
							<button type="button" ng-model="valorOpcion" class="btn btn-default form-control dropdown-toggle text-left" data-toggle="dropdown">
								<span>{{valorOpcion}}</span><span class="caret">&nbsp;</span>
							</button>
							<ul class="dropdown-menu">
								<li><a ng-click="changeWebapge('p')">Production</a></li>
								<li><a ng-click="changeWebapge('d')">Development</a></li>
								<li><a ng-click="changeWebapge('l')">Test</a></li>
							</ul>
						</div>
						<div class="col-xs-8">
							<input ng-model="webpage" type="text" class="form-control" value="{{webpage}}" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="activate()" class="btn btn-lg" ng-disabled="btnActivate"><b>Activar</b></button>
			</div>
		</div>
	</div>
</div>
