<style>
  .result-modal .ngdialog-content,.result-modal .modal-content{
    height:150px !important;
  }
</style>
<div  id="modal-activation">
	<div class="modal-dialog" style="top:20%;">
		<div class="modal-content">
			<div class="modal-body">
				<h1>{{resultActivate}}</h1>
			</div>
		</div>
	</div>
</div>
